
.box {
    border: 1px solid black;
    padding: 5px;
    border-radius: 10px;
    text-align: center;
}

.status {
    font-size: 1rem;
}

.green {
    color: green;
}

.red {
    color:red;
}

.friend_list {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 32px;
    margin: 0 auto;
    padding: 0;
    list-style: none;
}